.display{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -90px;
}
.display .wag{
    width: 100%;
    min-height: 150px;
    background-color: rgba(219, 217, 217, 0.367);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.display .wag .st{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.display .wag .st a{
    color: black;
    transition: .9s;
}
.display .wag .st a:hover{
    color: #ff344e;
}